<div class="inlinelinks">
<span>
{% if page_obj.has_previous %}
    <span><a href="?page=1&{{querystring}}">first</a><span>
    <span><a href="?page={{ page_obj.previous_page_number }}&{{querystring}}">previous</a></span>
{% else %}
<span>first</span> <span>previous</span>
{% endif %}
</span>

<span>Page {{ page_obj.number }} of {{ paginator.num_pages }} ({{paginator.per_page}} items out of {{paginator.count}})</span>

<span>
{% if page_obj.has_next %}
    <span><a href="?page={{ page_obj.next_page_number }}&{{querystring}}">next</a></span>
    <span><a href="?page={{ paginator.num_pages }}&{{querystring}}">last</a></span>
{% else %}
<span>next</span> <span>last</span>
{% endif %}
</span>

</div>
