<!DOCTYPE html>
<html>
<head>
<style>
    #pic0 {
        display: block;
    }
</style>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script> 
    n = null;
    i = 0;
    imgs = null;
    go = true;
    timestamps = null;
    function tick() {
        if (!go) return;
        next();
        setTimeout(tick, 100);
    }
    function next() {
        imgs.css('display', 'none');        
        i++;
        if (i>= n) i=0;
        imgs.eq(i).show();
        onimagechange(imgs.eq(i));
    }
    function prev() {
        imgs.css('display', 'none');        
        i--;
        if (i < 0) i=n-1;
        imgs.eq(i).show();
        onimagechange(imgs.eq(i));
    }
    $(function() {
        imgs = $('.image');
        n = imgs.length;
        timestamps = new Array(n);
        for (j=0; j<n; j++) {
            timestamps[j] = imgs.eq(j).data('timestamp');
        }
    });
    function show() {
        imgs.show()
    }
    extracted = false;
    $(document).keydown(function(e) {
        if (e.which == 69) {
            console.log('Test');
            if (extracted) {
                $('.image img').each(function(i, img){
                    img.src = img.src.replace('/png/extracted/', '/png/');
                    extracted = false;
                });
            }
            else {
                $('.image img').each(function(i, img){
                    img.src = img.src.replace('/png/', '/png/extracted/');
                    extracted = true;
                });
            }
        } else if (e.which == 37) {
            prev();
        } else if (e.which == 39) {
            next();
        }
    });
</script>
{% block header %}
<script>
     function onimagechange(img) {}
</script>
{% endblock %}
</head>
<body>
{% block body %}
<p>
    <a href="javascript:go=true;tick()">Start</a>
    <a href="javascript:go=false;tick()">Stop</a>
    <a href="javascript:prev()">Previous</a>
    <a href="javascript:next()">Next</a>
    <a href="javascript:show()">Show All</a>
</p>

{% block imagelist %}
{% for image in image_list %}
<div class="image" data-timestamp="{{image.datetime|date:"U"}}" data-pk="{{image.pk}}">
<a href="{{ MEDIA_URL }}out/fits_filtered/{{image.get_url}}.fits">
<img src="{{MEDIA_URL}}out/png/{{image.get_url}}.png"/></a>
{{image.datetime|date:"H:i:s"}}
</div>
{% endfor %}
{% endblock %}

{% endblock body %}
