{% extends 'clouds/ani_plot.html' %}

{% block imagelist %}
{% include 'pagination.html' %}

{% for point in object_list %}
<div class="image" data-timestamp="{{point.image.datetime|date:"U"}}"
        style="position: relative; height: 480px; width: 640px; left:900px;" id="{{point.pk}}">
    <a href="{{ MEDIA_URL }}out/fits_filtered/{{point.get_url|urlencode}}.fits">
    <img src="{{ MEDIA_URL }}out/png/{{point.get_url|urlencode}}.png"
            style="position:absolute;
                   top:0px;
                   left:0px;"/>
    </a>
    <div style="border:1px solid red;
                width:10px;
                height:10px;
                position:absolute;
                top:{{point.y|add:'-5'}}px;
                left:{{point.x|add:'-5'}}px;"></div>
</div>
{% endfor %}

{% include 'pagination.html' %}

{% endblock %}
