<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<style>
a:visited {
    color: #000088;
}
a:hover {
    color: #5555ff;
}
table {
    border-collapse: collapse;
    margin: 0.5em;
}
td, th {
    border: black solid 1px;
    padding-right: 0.5em
}
.inlinelinks {
    font-style: italic;
}
.inlinelinks > span {
    padding-right: 1.5em;
}
.inlinelinks > span > span {
    padding: 0.5em;
}
</style>
{% block head %}
{% endblock %}
</head>
<body>
<div class="inlinelinks">
{% load url from future %}
Jump to: <span><a href="{% url 'clouds.views.lines' %}">Line List</a></span>
<span><a href="{% url 'clouds.views.plot' %}">Perimage Plot</a></span>
<span><a href="{% url 'clouds.views.random_view' %}">Random Images</a></span>
</div>
{% block body %}
{% endblock %}
</body>
