<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% load url from future %}

{% if self %}
<a href="{% url self pk=prev.pk %}">
    Previous</a>
<a href="{% url self pk=next.pk %}">
    Next</a>
{% endif %}

<div class="image" style="position: relative; height: 480px; width: 640px;" id="{{point.pk}}">
    <img src="{{ MEDIA_URL }}out/png/{{object.get_url|urlencode}}.png" />
    {% for point in point_list %}
    {% if point.line %}
        {% if image %}
            <a href="{% url 'clouds.views.line_realpoints_plot' line=point.line.pk %}?timestamp={{image.datetime|date:"U"}}&day">
        {% else %}
            <a href="{% url 'clouds.views.line_sidpoints_plot' line=point.line.pk %}?timestamp={{sidtime.gnuplot_datetime|date:"U"}}&day">
        {% endif %}
    {% endif %}
    <div class="point{% if point.line %} hasline{% endif %}" style="border:1px solid {%if point.pk == point_pk%}blue{%elif point.line%}green{%else%}red{%endif%};
                width:{{point.width}}px;
                height:{{point.height}}px;
                position:absolute;
                top:{{point.y_min|add:"-1"}}px;
                left:{{point.x_min|add:"-1"}}px;"
    ></div>
    {% if point.line %}
    </a>
    {% endif %}
    {% endfor %}
</div>
<a href="javascript:$('.point').show()">all</a>
<a href="javascript:$('.point').hide();$('.hasline').show()">with lines</a>
<a href="javascript:$('.point').hide()">none</a>
<br/>
<a href="{{ MEDIA_URL }}out/fits_filtered/{{object.get_url|urlencode}}.fits">FITS</a>
<a href="{{ MEDIA_URL }}out/cat/{{object.get_url|urlencode}}.cat">cat</a>

{% for point in point_list %}
<div class="point_infobox" id="point_infobox_{{ realpoint.pk }}">
{{point.x}} {{point.y}}
{% if point.line %}
    <a href="{% url 'clouds.views.line' pk=point.line.pk %}">line</a>
{% endif %}
</div>
{% endfor %}
