<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
{% load url from future %}

<div class="image" style="position: relative; height: 480px;" id="{{point.pk}}">
    <img src="{{ MEDIA_URL }}out/png/{{image.get_url|urlencode}}.png" />
    {% for point in point_list %}
    {% if point.line %}
    <a href="{% url 'clouds.views.line_realpoints_ani_plot' line=point.line.pk %}?timestamp={{image.datetime|date:"U"}}">
    {% endif %}
    <div class="point{% if point.line %} hasline{% endif %}" style="border:1px solid {%if point.line%}green{%else%}red{%endif%};
                width:10px;
                height:10px;
                position:absolute;
                top:{{point.y|add:'-5'}}px;
                left:{{point.x|add:'-5'}}px;"
    ></div>
    {% if point.line %}
    </a>
    {% endif %}
    {% endfor %}
</div>
<a href="javascript:$('.point').show()">all</a>
<a href="javascript:$('.point').hide();$('.hasline').show()">with lines</a>
<br/>
<a href="{{ MEDIA_URL }}out/fits_filtered/{{image.get_url|urlencode}}.fits">FITS</a>
<a href="{{ MEDIA_URL }}out/cat/{{image.get_url|urlencode}}.cat">cat</a>

{% for point in point_list %}
<div class="point_infobox" id="point_infobox_{{ realpoint.pk }}">
{{point.x}} {{point.y}}
{% if point.line %}
    <a href="{% url 'clouds.views.line' pk=point.line.pk %}">line</a>
{% endif %}
</div>
{% endfor %}
