{% extends 'clouds/base.html' %}
{% block body %}
{% load url from future %}
<h2>
    Image
    {% with image.datetime|date:"Y" as year and image.datetime|date:"m" as month and image.datetime|date:"d" as day %}
        <a href="{% url 'clouds.views.plot' year %}">
            {{year}}</a> /
        <a href="{% url 'clouds.views.plot' year month %}">
            {{month}}</a> /
        <a href="{% url 'clouds.views.plot_day' year month day %}">
            {{day}}</a>
    {% endwith %}
    {{image.datetime|date:"H:i"}}
</h2>

<p>
Visibility: {{image.visibility|floatformat:"3"}}
Sidtime: <a href="{% url 'clouds.views.sidtime' pk=image.sidtime.pk %}">{{image.sidtime.time|time:"H:i"}}</a>
</p>

{% include 'clouds/image.html' with point_list=image.magic_points self='clouds.views.image' %}
{% endblock %}
