{% extends 'clouds/base.html' %}
{% block head %}
<style>
td,th { padding-left: 1em }
td { text-align: right }
</style>
{% endblock %}


{% block body %}
<div style="position:fixed;right:0">
<img src="" id="floatimg"/>
</div>

<h2> Lines</h2>


<div>
Order:</div>
<ul style="display: inline">
{% for field in order_fields %}
<li style="display: inline; margin-right: 3em;">
    <a href="?order={{field}}">{{field}}</a>
    <a href="?order=-{{field}}">(reverse)</a>
</li>
{% endfor %}
<br/>

<p>
Filtering stage:
<a href="?lvg=1&order={{order}}">Remove Negative Fluxes</a>
<a href="?lvg=2&order={{order}}">Remove short lines</a>
<a href="?lvg=3&order={{order}}">Filter outliers</a>
<br/>

<a href="?order={{order}}&ends">Show Beginning/End</a> (increases page load significantly)
</p>

{% load url from future %}

{% include 'pagination.html' %}

<table class="lines">
<tr>
    <th>ID</th>
    <th>Sidpoints</th>
    <th>Realpoints</th>
    <th>Mean Flux</th>
    <th>Median Flux</th>
    <th>Max Flux</th>
    <th>StdDev Flux</th>
    {% with line_list|first as line %}
    {% if line.ratio %}
        <th>Ratio</th>
    {% endif %}
    <th></th>
    <th></th>
    <th>Beginning</th>
    <th>End</th>
    {% endwith %}
</tr>
{% for line in line_list %}
<tr>
    <td>
        <a href="{% url 'clouds.views.line' pk=line.pk %}">
            {{ line.pk }}
        </a>
    </td>
    <td>
        <a href="{% url 'clouds.views.line_sidpoints' line=line.pk %}">
        {{ line.sidpoint_count }}</a>
    </td>
    <td>
        <a href="{% url 'clouds.views.line_realpoints' line=line.pk %}">
            {{ line.realpoint_count }}</a>
    </td>
    <td>{{ line.average_flux }}</td>
    <td>{{ line.median_flux }}</td>
    <td>{{ line.max_flux }}</td>
    <td>{{ line.stddev_flux }}</td>
    {% if line.ratio %}
        <td>{{ line.ratio }}</td>
    {% endif %}
    <td>
        <a href="{% url 'clouds.views.line_realpoints_plot' line=line.pk %}">
            Realpoint Plot</a>
    </td><td>
        <a href="{% url 'clouds.views.lineimg' pk=line.pk %}" onmouseover="$('#floatimg').attr('src', this.href).show()" onmouseout="$('#floatimg').hide()">
            Image</a>
    </td>
    <td>
        {% if ends %}
            {% with line.first_sidpoint as sidpoint %}
            {% if sidpoint %}
            <a href="{% url 'clouds.views.sidtime' pk=sidpoint.sidtime.pk %}?point={{sidpoint.pk}}">
                {{sidpoint.sidtime.time|time:"H:i" }}</a>
            {% endif %}
            {% endwith %}
        {% else %}
            disabled
        {% endif %}
    </td>
    <td>
        {% if ends %}
            {% with line.last_sidpoint as sidpoint %}
            {% if sidpoint %}
            <a href="{% url 'clouds.views.sidtime' pk=sidpoint.sidtime.pk %}?point={{sidpoint.pk}}">
                {{sidpoint.sidtime.time|time:"H:i" }}</a>
            {% endif %}
            {% endwith %}
        {% else %}
            disabled
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% include 'pagination.html' %}
{% endblock %}
