<style>
td,th { padding-left: 1em }
td { text-align: right }
</style>

{% load url from future %}

{% include 'pagination.html' %}

<table>
<tr>
    <th>ID</th>
    <th>Sidpoints</th>
    <th>Realpoints</th>
    <th>Average Flux</th>
    <th>Max Flux</th>
    <th>StdDev Flux</th>
    {% with line_list|first as line %}
    {% if line.ratio %}
        <th>Ratio</th>
    {% endif %}
    <th></th>
    {% endwith %}
</tr>
{% for line in line_list %}
<tr>
    <td>
        <a href="{% url 'clouds.views.line' pk=line.pk %}">
            {{ line.pk }}
        </a>
    </td>
    <td>
        <a href="{% url 'clouds.views.line_sidpoints' line=line.pk %}">
        {{ line.sidpoint_count }}</a>
    </td>
    <td>
        <a href="{% url 'clouds.views.line_realpoints' line=line.pk %}">
            {{ line.realpoint_count }}</a>
    </td>
    <td>{{ line.average_flux }}</td>
    <td>{{ line.max_flux }}</td>
    <td>{{ line.stddev_flux }}</td>
    {% if line.ratio %}
        <td>{{ line.ratio }}</td>
    {% endif %}
    <td>
        <a href="{% url 'clouds.views.line_realpoints_plot' line=line.pk %}">
            Realpoint Plot</a>
    </td>
</tr>
{% endfor %}
</table>

{% include 'pagination.html' %}
