<style>
h2 { margin-left: 2em }
td,th { padding-left: 0.5em }
td { text-align: left }
th { text-align: right }
</style>

{% load url from future %}

<h2>Line</h2>
<table>
<tr>
    <th>Field</th>
    <th>Filtered Value</th>
    <th>Raw Value</th>
</tr>
<tr>
    <th>Average Flux</th>
    <td>{{ line.average_flux }}</td>
    <td></td>
</tr>
<tr>
    <th>
        <a href="{% url 'clouds.views.line_sidpoints' line=line.pk %}">
            Sidpoints</a>
        <a href="{% url 'clouds.views.line_sidpoints_plot' line=line.pk %}">
            (plot)</a>
    </th>
    <td>{{ line.sidpoint_count }}</td>
    <td>{{ line.sidpoint_set.count }}</td>
</tr>
<tr>
    <th>
        <a href="{% url 'clouds.views.line_realpoints' line=line.pk %}">
            Realpoints</a>
        <a href="{% url 'clouds.views.line_realpoints_plot' line=line.pk %}">
            (plot)</a>
    </th>
    <td>{{ line.realpoint_count }}</td>
    <td>{{ line.realpoint_set.count }}</td>
</tr>
</table>

<br/>
<img src="{% url 'clouds.views.lineimg' pk=line.pk %}" style="border: black 1px solid"><br/>
<a href="{% url 'clouds.views.lineimg' pk=line.pk %}?real">
    Show image with realpoints</a>
