{% load url from future %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
xmin = {{gpval.X_MIN}};
xmax = {{gpval.X_MAX}};
term_xmin = {{gpval.TERM_XMIN}};
term_xmax = {{gpval.TERM_XMAX}};
ymin = {{gpval.Y_MIN}};
ymax = {{gpval.Y_MAX}};
term_ymin = {{gpval.TERM_YMIN}};
term_ymax = {{gpval.TERM_YMAX}};
term_xsize = {{gpval.TERM_XSIZE}}
term_ysize = {{gpval.TERM_YSIZE}}
function plotHandleMouse(e) {
    var x = e.pageX - $('#clickablearea').offset().left;
    var x2 = xmin + (xmax-xmin)*(x)/(term_xmax-term_xmin);
    xtimestamp = 946684800+x2
    //xdate = Date(xtimestamp*1000);
    {% if clickfunction %}
        {{clickfunction}}(xtimestamp);
    {% else %}
        window.location = '{% block clickurl %}{% endblock %}?{%if column%}column={{column}}&{%endif%}timestamp='+xtimestamp;
    {% endif %}
}
$(function() {
    $('#clickablearea').click(plotHandleMouse);
    $('#clickablearea').css('top', term_ysize-term_ymax);
    $('#clickablearea').css('height', term_ymax-term_ymin);
    $('#clickablearea').css('left', term_xmin);
    $('#clickablearea').css('width', term_xmax-term_xmin);
});
</script>
<div style="position:relative" id="plotcontainer">
<img src="{{MEDIA_URL}}{{imagesrc}}" id="plot" />
<div id="clickablearea" style="position:absolute; cursor:pointer">
    <div id="pointer" style="position:absolute; display:none;"></div>
</div>
</div>
