{% extends 'clouds/ani.html' %}
{% load url from future %}

{% block header %}
{{ block.super }}
{% if closest %}
<script type="text/javascript">
window.location.hash = '{{closest.pk}}';
</script>
{% endif %}
{% endblock %}

{% block imagelist %}
{% include 'pagination.html' %}

{% for point in object_list %}
<div class="image" style="position: relative; height: 480px;" id="{{point.pk}}">
    <div style="float:right; text-align: right"> 
        <div>
            {{point.image.datetime|date:"c"}}
            {{point.sidtime.time|time:"H:i"}}
        </div>
        <div style="font-size:100px">{{point.flux|floatformat:"0"}}</div>
        {% comment %}
        <div style=" font-size:{% widthratio point.flux 200 1 %}px">{{point.flux}}</div>
        {% endcomment %}
    </div>
    {% if point.image %}
        <a href="{% url 'clouds.views.image' pk=point.image.pk %}">
    {% else %}
        <a href=""></a>
    {% endif %}
    <img src="{{ MEDIA_URL }}out/png/{{point.get_url|urlencode}}.png"
            style="position:absolute;
                   top:0px;
                   left:0px;"/>
    </a>
    <div style="border:1px solid red;
                width:10px;
                height:10px;
                position:absolute;
                top:{{point.y|add:'-5'}}px;
                left:{{point.x|add:'-5'}}px;"></div>
</div>
{% endfor %}

{% include 'pagination.html' %}

{% endblock %}

