{% extends 'clouds/base.html' %}
{% block body %}
{% load url from future %}
{% load humanize %}
<h2>
    SidTime {{sidtime.time|time:"H:i"}}
</h2>

<div style="float: right">
<table>
<tr>
<th>Image</th>
<th>Vis</th>
<th>Intensity</th>
</tr>
{% for image in sidtime.image_set.all %}
<tr>
<td><a href="{% url 'clouds.views.image' pk=image.pk %}">
    {{image.datetime|date:"Y-m-d H:i"}}</a></td>
<td style="padding-left: 1em; font-family:monospace">{{image.visibility|floatformat:"3"}}</td>
<td style="padding-left: 1em; font-family:monospace; text-align: right">{{image.intensity|intcomma}}</td>
{% endfor %}
</table>
</div>

{% include 'clouds/image.html' with point_list=sidtime.magic_points self='clouds.views.sidtime' %}
{% endblock %}
