{% load url from future %}
{% load humanize %}
<body>
<h2>
    {{sidtime.time|time:"H:i"}}
</h2>

<table style="float: right">
{% for image in sidtime.image_set.all %}
<tr>
<td><a href="{% url 'clouds.views.image' pk=image.pk %}">
    {{image.datetime|date:"Y-m-d H:i"}}</a></td>
<td style="padding-left: 1em; font-family:monospace">{{image.visibility|floatformat:"3"}}</td>
<td style="padding-left: 1em; font-family:monospace; text-align: right">{{image.intensity|intcomma}}</td>
{% endfor %}
</table>

{% include 'clouds/image.html' with point_list=sidtime.magic_points self='clouds.views.sidtime' %}

</body>
